@model Credibled.Models.ReferenceRequest

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
	<div class="form-horizontal">
		<h4>ReferenceRequest</h4>
		<hr />
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="form-group">
			<label asp-for="CandidateEndDate" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="CandidateEndDate" class="form-control" />
				<span asp-validation-for="CandidateEndDate" class="text-danger" />
			</div>
		</div>

		<div class="form-group">
			<label asp-for="CandidateJobDuties" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="CandidateJobDuties" class="form-control" />
				<span asp-validation-for="CandidateJobDuties" class="text-danger" />
			</div>
		</div>
		<div class="form-group">
			<label asp-for="CandidateStartDate" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="CandidateStartDate" class="form-control" />
				<span asp-validation-for="CandidateStartDate" class="text-danger" />
			</div>
		</div>

		<div class="form-group">
			<label asp-for="RefereeEmail" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="RefereeEmail" class="form-control" />
				<span asp-validation-for="RefereeEmail" class="text-danger" />
			</div>
		</div>
		<div class="form-group">
			<label asp-for="RefereeEmployer" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="RefereeEmployer" class="form-control" />
				<span asp-validation-for="RefereeEmployer" class="text-danger" />
			</div>
		</div>
		<div class="form-group">
			<label asp-for="RefereeName" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="RefereeName" class="form-control" />
				<span asp-validation-for="RefereeName" class="text-danger" />
			</div>
		</div>
		<div class="form-group">
			<label asp-for="RefereeTelephone" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="RefereeTelephone" class="form-control" />
				<span asp-validation-for="RefereeTelephone" class="text-danger" />
			</div>
		</div>
		<div class="form-group">
			<label asp-for="RefereeTitle" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="RefereeTitle" class="form-control" />
				<span asp-validation-for="RefereeTitle" class="text-danger" />
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</div>
	</div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
