@model Credibled.Models.ReferenceRequest

@{
	ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
	<div class="form-horizontal">
		<h4>ReferenceRequest</h4>
		<hr />
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<input type="hidden" asp-for="ID" />

		<fieldset>
			<legend>Candidate Info</legend>

			<div class="form-group">
				<label asp-for="CandidateEndDate" class="col-md-2 control-label"></label>
				<div class="col-md-10">
					<input asp-for="CandidateEndDate" class="form-control" />
					<span asp-validation-for="CandidateEndDate" class="text-danger" />
				</div>
			</div>

			<div class="form-group">
				<label asp-for="CandidateJobDuties" class="col-md-2 control-label"></label>
				<div class="col-md-10">
					<input asp-for="CandidateJobDuties" class="form-control" />
					<span asp-validation-for="CandidateJobDuties" class="text-danger" />
				</div>
			</div>

			<div class="form-group">
				<label asp-for="CandidateStartDate" class="col-md-2 control-label"></label>
				<div class="col-md-10">
					<input asp-for="CandidateStartDate" class="form-control" />
					<span asp-validation-for="CandidateStartDate" class="text-danger" />
				</div>
			</div>

		</fieldset>

		<fieldset>
			<legend>Referee Info</legend>

			<div class="form-group">
				<label asp-for="RefereeId" class="col-md-2 control-label"></label>
				<div class="col-md-10">
					<a asp-controller="Referees" asp-action="Index">New Referee</a>
					<input asp-for="RefereeId" class="form-control" />
					<span asp-validation-for="RefereeId" class="text-danger" />
				</div>
			</div>

		</fieldset>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Save" class="btn btn-default" />
			</div>
		</div>
	</div>
</form>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
