@model Credibled.Models.Question

@{
	ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
	<div class="form-horizontal">
		<h4>Question</h4>
		<hr />
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="form-group">
			<label asp-for="QuestionDataType" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<select asp-for="QuestionDataType" class="form-control" asp-items="Html.GetEnumSelectList<System.ComponentModel.DataAnnotations.DataType>()"></select>
				<span asp-validation-for="QuestionDataType" class="text-danger" />
			</div>
		</div>
		<div class="form-group">
			<label asp-for="QuestionText" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="QuestionText" class="form-control" />
				<span asp-validation-for="QuestionText" class="text-danger" />
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</div>
	</div>
</form>








<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
